* {
    box-sizing: border-box;
  }
  body{
    position: relative;
    background-image: url(images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
 .overlay{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(7px);
    z-index: 0;
  }

  section.form{
    z-index: 2;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-lg-6:first-child{
    background-image: url(images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 20px;
    
  }
  .col-lg-6:first-child >h1{
    margin-right: 5rem;
    font-weight: 900;
    line-height: 2rem;
  }
  .col-lg-6:first-child >h6{
    font-size: .46rem;
    margin-right: 5rem;
    justify-items: center;
  }
  .col-lg-6:first-child > p {
    margin-top: 100px;
  }
 .col-lg-6:nth-child(2) > h2{
   margin-right: 8rem;
   color: rgb(0, 0, 0);
   margin-top: 2rem; 
  }
 .col-lg-6:nth-child(2) > p {
    margin-right: 7rem;
    font-size: 0.35rem; 
  }
 .col-lg-6:nth-child(2) > p a {
    color: rgb(12, 193, 209);
    text-decoration: none;
  }
 .col-lg-6:nth-child(2) {
   background-color: white
   
  }
  input[type="text"],
  input[type="password"] {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-left: 20px;
  padding-top: 20px;
  width: 150%;
  text-transform: uppercase;
  font-size: 0.65rem;
  word-spacing: 3px;
}
.term{
 font-size: 0.65rem;
 margin-right: 3rem;
 padding: 5px;
}
input[type="submit"]{
  margin: 20px;
  margin-left: 10rem;
  background-color: rgb(233, 10, 77);
  box-shadow: 1px 1px 5px 2px rgb(233, 10, 77);
  color: white;
  font-size: 00.55rem;
  font-weight: 800;
  outline: none;
  border: none;
  border-radius: 30px;
  width: 30%;
  padding: 5px; 
}
.log1 > p {
  margin-right: 8rem;
  font-size: 0.55rem; 
}
.wrap2{
  margin: 5px;
}

.wrap2 > a {
  margin: 20px;
  color: white;
  font-size: 0.60rem;
  border-radius: 20px;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 5px 8px;
  text-decoration: none;
  word-spacing: -5px;
  
}


.wrap2 > a i {
  padding: 5px;
  font-size: 0.60rem;
}

.wrap2 > a:nth-child(1) {
  margin: 0px 6px;
 background: rgb(43, 74, 146);

}

.wrap2 > a:hover{
  color: rgba(240, 240, 230, 0.692);
}
.wrap2 > a:nth-child(2) {
  margin: 0 6px;
  background: rgb(12, 193, 209);
 
}
.wrap2 > a:nth-child(3) {
  margin: 0 6px;
  background: rgb(211, 58, 32)
  
}

 

